# This is a basic workflow to help you get started with Actions

name: ejecucion de test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    paths:
      - '**/*.sh'
  pull_request:
    paths: 
      - '**/*.sh'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5
      
      - name: comprobación de si pasa los tests
        run: |
          # almacena en una variable la ruta a cada archivo llamado test_*.sh
          test_scripts=$(find . -name "test_*.sh" -type f -not -path */.git/*)
          # Comprueba que la variable no esté vacía, si está vacia es que no hay archivos de test y sale con exit 0
          if [[ -z "$test_scripts" ]];then
            echo "No hay tests que realizar"
            exit 0
          fi

          # Realizamos un bucle para ejecutar cada uno de los archivos test 
          for test_unico in $test_scripts;do
          
            # Nos quedamos con la ruta del archivo por un lado y con el nombre por otro
            test_dir=$(dirname "$test_unico")
            test_name=$(basename "$test_unico")
            
            # Cambiamos al directorio de la ruta y ejecutamos el test, esto nos evita fallos con ruta relativa
            # dentro del test
            resultado=$(cd "$test_dir" && bash "$test_name")

            # Si en la salida del test hay un "TEST FAILED" nos salimos del bucle pasando el nombre del test que ha fallado
            if [[ "$resultado" == *"TEST FAILED"* ]];then
              echo "No se ha pasado el test $test_name"
              exit 1
            fi
          done

          # Si no hemos interrumpido el bucle en ningun momento significa que todos los 
          # test han pasado
          echo "Todos los test han pasado correctamente"
